ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);

}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201d;
    color: #937341;
    cursor: pointer;
}

.active {
    background-color: #937341;
    color: #23201d;
}